---
---

@import "main";

/* Global Styles */

:root {
  --grey: #282a3a;
  --red: #f86279;
  --lightgreen: #9aceb9;
  --white: #e8f0f0;
  --yellow: #ffd76d;
  --orange: #ff9b5e;
  --green: #b9d560;
  --violet: #c39ac9;
  --lightgrey: #a8aeb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  width: 40rem;
}

body {
  background-color: var(--grey);
  color: var(--white);
  font-family: "Source Code Pro", sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

em {
  color: var(--lightgreen)
}

.code {
  color: var(--red)
}

.button {
  color: var(--grey);
  text-decoration: none;
  background-color: var(--white);
  padding: 1rem 1.5rem;
  line-height: 4rem;
  font-weight: 500;
  box-shadow: 0 0 1rem var(--yellow);
  transition-duration: 500ms;
}

.button:hover {
  background-color: var(--yellow);
  box-shadow: 0 0 1rem var(--yellow);
  transition-duration: 500ms;
}

a {
  color: var(--yellow);
  text-decoration: none;
  transition: 2s background-color linear;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: var(--white);
    text-decoration: none;
    background-color: var(--yellow);
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    width: 20.4375rem;
  }
}